{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Relatório</title>
    <link rel="stylesheet" href="{% static 'CSS/estilo.css' %}">
     <link rel="stylesheet" href="{% static 'CSS/estilorelatorio.css' %}">
</head>
<body>

<h1> RELATÓRIO ARTISTA E SUAS MUSCICAS </h1>

<form action="{% url 'url_excel' %}" method="POST">
  {% csrf_token %}
<select required name="artista">
   <option value="">Selecione o artista</option>
 {% for artista in artistas %}
   <option value="{{artista.id }}">{{ artista.nome }}</option>
 {% endfor %}
</select>
  <button type="submit">Criar relatório</button>
</form>

</body>
</html>